<h2>Interessensgebiete</h2>

<%= bar_chart [
                  {name: "Experten", data: report.stackedinterests[0]},
                  {name: "Allgemein", data: report.stackedinterests[1]}
              ], height: "1500px", stacked: true %>
<br>
<h2>Interessensgebiete Allgemein</h2>
<%= bar_chart report.allgemeingroupinterests %>
<br>
<h2>Thementags</h2>
<%= bar_chart [
                  {name: "Artikel", data: report.articleanalysis.reverse.to_h},
                  {name: "Events", data: report.eventanalysis}
              ], height: "1500px", stacked: true %>