<h1>Newsletter aktiv</h1>
<%= column_chart({"Aktiv" => report.general["newsletteraktiv"] , "Total" => report.general["newslettertotal"]}) %>

<h1>Zuletzt angemeldet</h1>
<%= column_chart report.zuletztangemeldet %>