<% report.universities.each do |uni| %>
    <h2><%= uni.title %>:</h2>
    <table>
          <tr>
            <td>
              <% uni.information.each do |key, value| %>
                <%= key %>: <%= value %> <br>
              <% end %>
            </td>
            <td>
              <%= pie_chart uni.information %>
            </td>
          </tr>
    </table>
<% end %>